<p>Navigationbar#index</p>

<ul id="nav">
	<li class="current"><a href=""> Home </a></li>
	<li> <a href="My Projects">My Projects </a>
		<ul>
			<li><a href="">N.Design Studio </a></li>
			<li><a href="">Web Designer</a></li>
			<li><a href="">IconDock</a></li>
			<li><a href="">Best Web Gallery</a></li>
		</ul>
	</li>
	<li><a href="">Multi-leves</a>
		<ul>
			<li><a href="">Team</a></li>
			<li><a href="">Another Link</a></li>
			<li><a href="">Department</a></li>
		</ul>
	</li>
	<li><a href="">About</a></li>
	<li><a href="">Contact Us</a></li>
</ul>
