<ul id="nav">
	<li class="current"><a href=""> Sales </a></li>
	<li> Hi,idlesong </li>
	<li> <a href="">Products </a>
		<ul>
			<li><a href="">N.Design Studio </a></li>
			<li><a href="">Web Designer</a></li>
			<li><a href="">IconDock</a></li>
			<li><a href="">Best Web Gallery</a></li>
		</ul>
	</li>
	<li><a href="">Customers</a>
		<ul>
			<li><a href="">Team</a></li>
			<li><a href="">Another Link</a></li>
			<li><a href="">Department</a></li>
		</ul>
	</li>
	<li><a href="">Suppliers</a></li>
	<li><a href="">Setup</a></li>
</ul>

<div id="side">
	<!-- <div> <%= image_tag("customers.png") %>Welcome Qinkunsong[Logout] </div> -->
	
	<ul>
		<li> <a href="">Messages </a></li>
		<li> <a href="">CustomerPO </a></li>
		<li> <a href="">Invoice </a></li>
		<li> <a href=""> Received </a></li>
	</ul>
</div>
