<div id = "container">
	<div id = "menu">
		<ul>
			<li class="nav_left"><a href="#">Home    </a></li>
			<li class="nav_left"><a href="#">Group#Sales</a></li>
			<li class="nav_right"><a href="#">@Qinkunsong</a></li>
			<li class="nav_right"><a href="#">Product </a></li>
			<li class="nav_right"><a href="#">Customer</a></li>
			<li class="nav_right"><a href="#">Supplier</a></li>
		</ul>
	</div>
	<div id = "content-container">
		<div id = aside>
				<h3> My Home </h3>
				<ul>
					<li> Item 1 </li>
					<li> Item 2 </li>
					<li> Item 3 </li>
					<li> Item 4 </li>
					<li> Item 5 </li>
				</ul>
		</div>

		<div id = "content">
			<h1>Simplenav#show</h1>
			<p>Find me in app/views/simplenav/show.html.erb</p>
			<p>http://www.maxdesign.com.au/articles/css-layouts/two-liquid/</p>
		</div>

		<div id = "footer">
			copyleft @ tech excises 2014-2080
	</div>
</div>
