<div id = "menu">
	<ul>
		<li class="nav_left"><a href="#">Home    </a></li>
		<li class="nav_left"><a href="#">Group#Sales</a></li>		
		<li class="nav_right"><a href="#">@Qinkunsong</a></li>
		<li class="nav_right"><a href="#">Product </a></li>		
		<li class="nav_right"><a href="#">Customer</a></li>
		<li class="nav_right"><a href="#">Supplier</a></li>
	</ul>
</div>

</br>
<h1>Simplenav#show</h1>
<p>Find me in app/views/simplenav/show.html.erb</p>
