<p class="card-title"> Google now style card index</p>

<ul class="googleNow" id="col1">
	<li><div class="card">
		<p class="card-title"> Google now style card </p>
		<p> used in orders; carts; overviews ervery thing are in cards
			We can use this style for many kinds of views; not just items orders
			sidebar and other things</p>
		<p class="url"> <a href="http://www.google.com/landing/now/">See the page</a></p>
	</div></li>
	<li>
		<div class="card">
			<p class="card-title"> Repeat Card> </p>
			<p> We can repeat many many times </p>
		</div>
	</li>
</ul>
<ul class="googleNow" id="col2">
	<li><div class="card">
		<p class="card-title"> Picture</p>
		<img src="http://www.eriklindemann.com/eMetro/images/full/helpless.jpg" class="full" />
		<p> used in orders; carts; overviews </p>
		<p class="url"> <a href="http://www.google.com/landing/now/">See the page</a></p>
	</div></li>
	<li>
		<div class="card">
			<p class="card-title"> Repeat Card 2</p>
			<p> We can repeat many many times </p>
		</div>
	</li>
</ul>	